node_modules
.next
.env
.env.local
.env.*.local
.git
.gitignore
README.md
Dockerfile
.dockerignore
docker-compose.yml
npm-debug.log
.vercel
.idea
.vscode
.DS_Store
coverage
playwright-report
test-results
